:root {
    --primary-color: #f7b426;
    --secondary-color: #54a3f7;
    --darken: rgba(0, 0, 0, 0.22);
    --button-color: rgb(220, 11, 11);
    --button-border-color: rgb(161, 11, 11);
    --button-color-hover: rgb(191, 11, 11);
    --button-color-active: rgb(170, 9, 9);
    --footer-background-color: rgb(192, 192, 192);
    --footer-border-color: rgb(142, 142, 142);
    --popupButton-color-hover: rgb(97, 97, 97);
    --popupButton-color-active: rgb(68, 68, 68);
}

.roboto-font {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

body {
    font-family: "Roboto";
    font-size: 1.6rem;
    margin: 0;
    padding: 0;
    height: 100dvh;
    transition: background-color 0.3s, color 0.3s;
}

body.dark {
  background-color: #121212;
}

.icon {
    width: 6em;
}

.containerContainer {
    display: grid;
    grid-template-rows: auto min-content;
    align-items: center;
    width: 100%;
    height: calc(100% - 0.4em);
    gap: 1em;
    padding-top: 0.4em;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 2em;
}

.openButton {
    width: 8em;
    height: 8em;
    border-radius: 100%;
    border: 0.2em solid var(--button-border-color);
    background-color: var(--button-color);
    color: azure;
    font-size: 1.6rem;
    cursor: pointer;
    transition: background-color 0.1s ease;
}

.openButton:hover {
    background-color: var(--button-color-hover);
}

.openButton:active {
    background-color: var(--button-color-active);
}

.valuesContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr 0.2em auto 1fr;
    gap: 0.2em;
}

.sensorsContainer {
    display: grid;
    grid-column: 1 / 4;
    grid-row: 1 / 3;
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
    outline: 0.14em solid var(--primary-color);
    background-color: var(--primary-color);
    border-radius: 0.2em;
}

.weatherContainer {
    display: grid;
    grid-column: 1 / 4;
    grid-row: 4 / 6;
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
    outline: 0.14em solid var(--secondary-color);
    background-color: var(--secondary-color);
    border-radius: 0.2em;
}

.valueBox {
    background-color: var(--darken);
    color: azure;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.2em;
    border-radius: 0.2em;
    min-width: 0;
}

.valueBox>header {
    font-size: 0.6em;
}

.containerHeader {
    grid-row: 1 / 2;
    grid-column: 1 / 4;
    text-align: center;
    font-size: 0.8em;
    color: azure;
    background-color: var(--darken);
    border-radius: 0.25em;
}

.autoEnableContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
}

.controlsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}

.footer {
    display: grid;
    grid-template-columns: auto min-content;
    align-items: center;
    background-color: var(--footer-background-color);
    border-top: 0.1em solid var(--footer-border-color);
    padding-left: 1em;
    padding-right: 1em;
}

.footerLinks {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 0.4em;
    padding: 0;
    font-size: 0.8em;
}

.footerLinks>li {
    list-style-type: none;
}

.windowSecurity {
    width: 12em;
    height: 5em;
    border-radius: 0.5em;
    border-width: 0.2em;
    border-color: orangered;
    background-color: azure;
}

.windowSecurityButton {
    background-color: gray;
    border: 0.1em solid black;
    border-radius: 0.2em;
    font-size: 0.7em;
    text-decoration: none;
    color: azure;
    padding: 0.2em;
    cursor: pointer;
}

.windowSecurityButton:hover {
    background-color: var(--popupButton-color-hover);
}

.windowSecurityButton:active {
    background-color: var(--popupButton-color-active);
}

.weatherData {
    width: 12em;
    height: 16em;
    border-radius: 0.5em;
    border-width: 0.2em;
}

.weatherDataButton {
    background-color: gray;
    border: 0.1em solid black;
    border-radius: 0.2em;
    font-size: 0.7em;
    color: azure;
    padding: 0.2em;
    cursor: pointer;
}

.weatherDataButton:hover {
    background-color: var(--popupButton-color-hover);
}

.weatherDataButton:active {
    background-color: var(--popupButton-color-active);
}

.settingsContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.settingsButton {
    width: 8em;
    height: 2em;
    padding: 0.2em;
    background: gray;
    cursor: pointer;
    border-radius: 1em;
}

.settingsButton:hover {
    background-color: var(--popupButton-color-hover);
}

.settingsButton:active {
    background-color: var(--popupButton-color-active);
}